.mainSection{
    background-image: url("../assets/seattle_background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin-right:0px;
    padding:12% 15% 12% 15%;
    overflow: hidden;
}

#secondMainSection{
    height:450px;
    padding:0;
}

.jobInfo{
    margin-left: 15%;
    margin-right: 15%;
}

.introIcon{
    color: #495057;
}

.introIcon2{
    color:#4C6EF5;
}

#expHeaderSection{
    margin-left:10%;
    margin-right:10%;
}

#accordion{
    margin-left: 10%;
    margin-right:10%;
}

.personalProjectDate{
    float: right;
    margin-top:0.5%;
}

.jobDescriptionSection{
    margin-left:10%;
    margin-right:10%;
    padding-top:1%;
}

.jobDescText{
    font-size: 18px;
}

.jobDescText li{
    padding-bottom: 1%;
}

.msftJobInfo{
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("../assets/ms_background.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.msftJobInfo span{
    background-color: #747a76;
    color:white;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.msftJobInfo a{
    color: white;
}

.msftJobInfo a:hover{
    color: white;
}

.sapJobInfo{
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("../assets/web_dev.jpg");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px 200px;
    text-align: right;
}

.sapJobInfo span{
    background-color: #747a76;
    color:white;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.awsJobInfo{
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("../assets/data_background.jpg");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -500px;
    background-repeat: no-repeat;
}

.awsJobInfo span{
    background-color: #747a76;
    color:white;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

#quickIntro{
    background-image: url("../assets/bash_background.png");
    background-size: cover;
    color: black;
    width: 45%;
    height: 100%;
    overflow:hidden;
    margin: auto;
}

#introPicDiv{
    padding:10% 5% 10% 5%;
    text-align: center;
}

#introTitles{
    padding:15% 5% 10% 5%;
    text-align: center;
}

#quickIntroPic{
    height: auto;
    max-height: 15em;
}

#introCard{
    background-color: #98a2db;
}

#expCard{
    background-color: #9acffa;
}

#projectCard{
    background-color: #feaa8f;
}

#contactCard{
    background-color: #dbefdc;
}

.card-header{
    border-bottom: none;
}


#introP{
    padding: 0.2% 0.5% 0 0.5%;
    color:#5a5a5a;
    font-family: 'Poppins', sans-serif;
}

#aboutMyselfBtn{
    margin-top:1%;
}

a {
    color: #26A69A;
}

a:hover {
    color: #26A69A;
}

.btn-primary {
    background-color: #26A69A;
    border-color: #26A69A;
}

.btn-primary:hover {
    background-color: #26A69A;
    border-color: #26A69A;
}

.nav-link{
    color: black;
}

.expHeader{
    margin-bottom: 0.5%;
    font-size: 40px;
    font-size: bold;
}

#contactMeSpan{
    padding: 0.2% 0.5% 0 0.5%;
    background-color: #F2F2F2;
    color:#5a5a5a;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#contactDiv{
    margin: 0.5%;
    padding: 0.2% 0.5% 0 0.5%;
    background-color: #F2F2F2;
}

#contactForm{
    text-align: center;
}

#workInProgress{
    text-align: center;
}

.progress{
    height: 30px;
}

.progress-bar-animated{
    width: 57%;
}

.progress-bar{
    background-color: #26A69A;
}

.inputRow{
    margin-bottom: 1%;
}

#contactNameInputRow{
    margin-top: 1%;
}

#contactBtn{
    margin-bottom: 1%;
    padding-right: 15px;
}

#personalProjectSection{
    margin-bottom: 2%;
}

.customBadges{
    font-size:10px;
}


/* iPhone 5/SE ----------- */
@media only screen and 
    (min-device-width: 320px) and 
    (max-device-height: 568px) and 
    (orientation : portrait)
{
    .mainSection{
        padding: 10% 0 0 0;
        height: 600px;
    }

    #quickIntro{
        width: 90%;
        height: 90%;
    }

    #introTitles{
        text-align: center;
    }

    #positionTitle{
        font-size: 13px;
    }

    #universityTitle{
        font-size: 10px;
    }

    .icons i{
        text-align:center;
    }
}

/* iPhone 6/7/8 ----------- */
@media only screen and 
    (min-device-width: 375px) and 
    (max-device-height: 667px) and 
    (orientation : portrait)
{
    .mainSection{
        padding: 10% 0 0 0;
        height: 620px;
    }

    #quickIntro{
        width: 90%;
        height: 90%;
    }

    #introTitles{
        text-align: center;
    }

    #positionTitle{
        font-size: 16px;
    }

    #universityTitle{
        font-size: 11px;
    }
}

/* iPhone 6/7/8 plus ----------- */
@media only screen and 
    (min-device-width: 414px) and 
    (max-device-height: 736px) and
    (-webkit-device-pixel-ratio: 3)
{
    .mainSection{
        padding: 10% 0 0 0;
        height: 650px;
    }
    
    #quickIntro{
        width: 90%;
        height: 90%;
    }

    #introTitles{
        text-align: center;
    }

    #positionTitle{
        font-size: 20px;
    }

    #universityTitle{
        font-size: 12px;
    }
}

/* iPhone X ----------- */
@media only screen and 
    (min-device-width: 375px) and 
    (max-device-height: 812px) and 
    (orientation : landscape) and
    (-webkit-device-pixel-ratio: 3)
{     
    .mainSection{
        padding: 10% 0 0 0;
        height: 1000px;
    }
     
    /* Styles */
    #quickIntro{
        width: 90%;
        height: 80%;
    }

    #universityTitle{
        font-size: 15px;
    }

    #introTitles{
        text-align: center;
    }
}
    
@media only screen and 
    (min-device-width: 375px) and 
    (max-device-width: 375px) and
    (max-device-height: 812px) and 
    (orientation : portrait) and 
    (-webkit-device-pixel-ratio: 3)
{
    .mainSection{
        padding: 10% 0 0 0;
        height: 720px;
    }

    /* Styles */
    #quickIntro{
        width: 80%;
        height: 80%;
    }

    #NameTitle{
        font-size: 40px;
    }

    #introTitles h5{
        width: 100%;
    }

    #positionTitle{
        font-size: 25px;
    }

    #universityTitle{
        font-size: 15px;
    }

    .msftJobInfo{
        background-position: -630px;
    }

    .sapJobInfo{
        background-position: left;
    }

    .awsJobInfo{
        background-position: -120px;
    }
    
    #accordion button{
        text-align: center;
    }
}

/* iPad */
@media only screen and 
    (min-device-width: 768px) and 
    (max-device-width: 768px) and
    (max-device-height: 1024px)
{
    .mainSection{
        padding: 10% 0 0 0;
        height: 950px;
    }

    /* Styles */
    #quickIntro{
        width: 90%;
        height: 80%;
    }

    #introTitles{
        text-align: center;
    }

    #introTitles h5{
        width: 100%;
    }
     
    #positionTitle{
        font-size: 20px;
    }

    #universityTitle{
        font-size: 14px;
    }

    .msftJobInfo{
        background-position: -650px;
    }

    .sapJobInfo{
        background-position: left;
    }

    .awsJobInfo{
        background-position: -120px;
    }
    
}

/* iPad Pro */
@media only screen and 
    (min-device-width: 1024px) and 
    (max-device-width: 1024px) and
    (max-device-height: 1366px)
{
    .mainSection{
        padding: 10% 0 0 0;
        height: 1250px;
    }

    /* Styles */
    #quickIntro{
        width: 90%;
        height: 80%;
    }

    #introTitles{
        text-align: center;
    }

    #introTitles h5{
        width: 100%;
    }
     
    #positionTitle{
        font-size: 25px;
    }

    #universityTitle{
        font-size: 18px;
    }

    .msftJobInfo{
        background-position: -650px;
    }

    .sapJobInfo{
        background-position: left;
    }

    .awsJobInfo{
        background-position: -120px;
    }
    
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #495057;
    color: white;
}

#developedBy{
    font-size: 14px;
}

#v1Span{
    font-size: 12px;
}